body {
    background: whitesmoke;
}


.inputs {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    background: lightgray;
    border: 20px;
    border-style: solid;
    border-color: gray;
    margin: 30px;
}


h1 {
    font-size: 38px;
    padding: 20px;
}


h2 {
    padding-left: 20px;
    font-size: 30px;
}


h3 {
    font-size: 25px;
}


.Exercises {
    font-size: 18px;
    align-self: center;
}


p {
    font-size: 20px;
}


.userPassP {
    padding: 5px;
    margin: 5px;
    margin-bottom: 0px;
}


.userPassIn {
    margin-top: 0px;
}


.userPassLab {
    margin-bottom: 0px;
    margin-top: 15px;
}


.spacingP {
    padding: 2px;
    border: 0px;
    margin: 0px;
}